<div style="display: flex;justify-content: center;align-content: center;margin: 10px;">
  <mat-card style="padding: 0px; width: 700px;height: 100vh;">
    <img mat-card-image
      style="max-width: 700px; height: '26vh'; object-fit: 'cover'; object-position: '0 0';margin: auto;"
      src={{movie.imagePath}} />
    <mat-card-title style="text-align: left;margin: 10px;">
      <div class="card-title">{{movie.title}}</div>
    </mat-card-title>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>