<mat-form-field style="display: flex; justify-content: center; margin-top: 20px;">
    <input matInput [(ngModel)]="searchInquiry" (keydown)="filterMovies($event)" placeholder="search"
        style="width: 400px;" type="text" />
</mat-form-field>
<mat-grid-list *ngIf="!small" class="movie-grid" [cols]="mybreakpoint" rowHeight="650px"
    (window:resize)="handleGridSize($event)">
    <mat-grid-tile class="grid-card" *ngFor="let movie of filteredMovies; let i=index;">
        <mat-card class="movie-card" style="box-shadow: 3px 3px 5px 0px rgba(27, 27, 27, 0.3);">
            <mat-card-content>
                <mat-card-header style="min-height: 50px; margin-top: 10px;">
                    <mat-card-title style="text-align: left;cursor: pointer;" (click)="goToMovieView($event, movie)">
                        <div class="card-title">{{movie.title}}</div>
                    </mat-card-title>
                </mat-card-header>
                <img class="card-img" src={{movie.imagePath}} (click)="goToMovieView($event, movie)"
                    style="cursor: pointer;" />
                <mat-card-subtitle style="margin: 0px;text-align: center;">Directed by: {{movie.director.name}}
                </mat-card-subtitle>
                <mat-card-actions>
                    <div style="display: flex; justify-content: center; align-content: center;">
                        <button mat-raised-button color="primary" class="see-more-button"
                            (click)="goToMovieView($event, movie)">
                            <mat-icon style="color: white;">
                                read_more
                            </mat-icon>
                        </button>
                        <button mat-icon-button style="margin-left: 20px;"
                            (click)="handleFavoriteMovie($event, movie._id)">
                            <mat-icon *ngIf="!favoriteMovies.includes(movie._id)">
                                favorite_border
                            </mat-icon>
                            <mat-icon *ngIf="favoriteMovies.includes(movie._id)" style="color: red;">
                                favorite
                            </mat-icon>
                        </button>
                    </div>
                    <mat-card-subtitle *ngIf="movie.likes > 1"
                        style="margin-top: 10px;text-align: right;font-size: 12px;">
                        {{movie.likes}} people like this movie </mat-card-subtitle>
                    <mat-card-subtitle *ngIf="movie.likes === 1"
                        style="margin-top: 10px;text-align: right;font-size: 12px;">
                        {{movie.likes}} person likes this movie </mat-card-subtitle>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<div *ngIf="small" class="favorite-movies-grid" style="width: -webkit-fill-available;">
    <mat-card class="genre-director-card-movies" style="background-color: #dbdaf8;"
        *ngFor="let movie of filteredMovies; let i=index;">
        <mat-card-content>
            <mat-card-title style="margin: 0px;text-align: center;min-height: 40px;font-size: 12px;">
                {{movie.title}}
            </mat-card-title>
            <img width="100" height="150" style="margin-left:7px;cursor:pointer;" src={{movie.imagePath}}
                (click)="goToMovieView($event, movie)" />
            <mat-card-actions style="display: flex;justify-content: center;">
                <button mat-raised-button color="primary" class="see-more-button"
                    (click)="goToMovieView($event, movie)">
                    <mat-icon style="color: white;">
                        read_more
                    </mat-icon>
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>