<div style="display: flex;justify-content: center;align-content: center;margin: 10px;">
  <mat-card style="padding: 0px; width: 700px;min-height: 100vh;">
    <div class="genre-director-card">
      <mat-card-title>
        <div style="text-align: center;margin-top: 60px;" class="card-title">{{genre.name}}</div>
      </mat-card-title>
      <img mat-card-image
        style="max-width: 300px; height: '200px';margin-left: auto; margin-right: 5px; margin-top: 5px;"
        src="{{genre.imagePath}}" />
    </div>
    <p style="margin: 10px;">{{genre.description}}</p>
    <hr />
    <mat-card-title style="font-size: 15px;text-align: center; margin: 10px;">{{genre.name}} Movies</mat-card-title>
    <div class="favorite-movies-grid">
      <mat-card class="genre-director-card-movies" *ngFor="let movie of movies; let i=index;">
        <mat-card-content>
          <mat-card-subtitle style="margin: 0px;text-align: center;min-height: 40px;">
            {{movie.title}}
          </mat-card-subtitle>
          <img width="100" height="150" style="margin-left:7px;cursor:pointer;" src={{movie.imagePath}}
            (click)="goToMovieView($event, movie)" />
          <mat-card-actions style="display: flex;justify-content: center;">
            <button mat-raised-button color="primary" class="see-more-button" (click)="goToMovieView($event, movie)">
              <mat-icon style="color: white;">
                read_more
              </mat-icon>
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>