<body class="login-image">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-title">
      <mat-card-title>Welcome to myFlix</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
        Sign Up
      </button>
      <button mat-raised-button (click)="openUserLoginDialog()" color="primary">
        Login
      </button>
    </mat-card-actions>
  </mat-card>
  <a class="freepick" href='https://www.freepik.com/vectors/blue-polygon'>Blue polygon vector created by Harryarts -
    www.freepik.com</a>
</body>