<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>MyFlix</span>
            <div *ngIf="smallScreen">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu class="menu-bar" #menu="matMenu">
                    <button class="menu-bar" mat-menu-item routerLink="/movies" (click)="makeActive('movies');"
                        [ngClass]="{'active': (selectedTab === 'movies') }">
                        <mat-icon>movie</mat-icon>
                        <span>movies</span>
                    </button>
                    <button class="menu-bar" mat-menu-item routerLink="/genres" (click)="makeActive('genres');"
                        [ngClass]="{'active': (selectedTab === 'genres') }">
                        <mat-icon>mood</mat-icon>
                        <span>genres</span>
                    </button>
                    <button class="menu-bar" mat-menu-item routerLink="/directors" (click)="makeActive('directors');"
                        [ngClass]="{'active': (selectedTab === 'directors') }">
                        <mat-icon>movie</mat-icon>
                        <span>directors</span>
                    </button>
                    <button class="menu-bar" mat-menu-item routerLink="/user" (click)="makeActive('user');"
                        [ngClass]="{'active': (selectedTab === 'user') }" (click)="makeActive('user');">
                        <mat-icon>person</mat-icon>
                        <span>{{username}}</span>
                    </button>
                </mat-menu>
            </div>
            <div *ngIf=" largeScreen" style="margin-left: 100px;" class="tab">
                <button style="width: 100px;" mat-icon-button routerLink="/movies" (click)="makeActive('movies');"
                    [ngClass]="{'active': (selectedTab === 'movies') }">
                    <mat-icon>local_movies</mat-icon>
                    <span style="margin-left: 5px;">movies</span>
                </button>
                <button mat-icon-button style="margin-left: 20px;width: 100px;" routerLink="/genres"
                    (click)="makeActive('genres');" [ngClass]="{'active': (selectedTab === 'genres') }">
                    <mat-icon>mood</mat-icon>
                    <span style="margin-left: 5px;">genres</span>
                </button>
                <button mat-icon-button style="margin-left: 20px;width: 100px;" routerLink="/directors"
                    (click)="makeActive('directors');" [ngClass]="{'active': (selectedTab === 'directors') }">
                    <mat-icon>movie</mat-icon>
                    <span style="margin-left: 5px;">directors</span>
                </button>
                <button mat-icon-button style="margin-left: 20px;width: 100px;" routerLink="/user"
                    [ngClass]="{'active': (selectedTab === 'user') }" (click)="makeActive('user');">
                    <mat-icon>person</mat-icon>
                    <span style=" margin-left: 5px;">{{username}}</span>
                </button>
            </div>
            <div style="margin-left: auto; width: 100px;">
                <button mat-icon-button style="width: 100px;" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span style=" margin-left: 5px;">logout</span>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>