<div style="margin: 10px auto;max-width: 700px; width: -webkit-fill-available;">
  <mat-card style="padding: 0px; width: 700px;min-height: 100vh; width: -webkit-fill-available;">
    <div class="genre-director-card">
      <mat-card-title>
        <div style="text-align: center;margin-top: 60px;" class="card-title">{{director.name}}</div>
        <mat-card-subtitle style="text-align: center;font-size: 11px;margin: 10px;">Born: {{director.birth}} <span
            style="margin-left: 10px;">Death: {{director.death}}</span>
        </mat-card-subtitle>
      </mat-card-title>
      <img mat-card-image class="director-image" style="margin-left: auto;margin-right: auto;"
        src="{{director.imagePath}}" />
    </div>
    <p style="margin: 10px;">{{director.description}}</p>
    <hr />
    <mat-card-title style="font-size: 15px;text-align: center;margin: 10px;">{{director.name}} Movies</mat-card-title>
    <div class="favorite-movies-grid" style="width: -webkit-fill-available;">
      <mat-card class="genre-director-card-movies" *ngFor="let movie of movies; let i=index;">
        <mat-card-content>
          <mat-card-subtitle style="margin: 0px;text-align: center;min-height: 40px;">
            {{movie.title}}
          </mat-card-subtitle>
          <img width="100" height="150" style="margin-left:7px;cursor:pointer;" src={{movie.imagePath}}
            (click)="goToMovieView($event, movie)" />
          <mat-card-actions style="display: flex;justify-content: center;">
            <button mat-raised-button color="primary" class="see-more-button" (click)="goToMovieView($event, movie)">
              <mat-icon style="color: white;">
                read_more
              </mat-icon>
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>