<div class="profile-container" style="width: -webkit-fill-available;">
    <mat-card class="profile-input-card">
        <mat-card-header class="log-reg-title">
            <mat-card-title>Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="margin: 10px;">Username: {{username}}</div>
            <div style="margin: 10px;">Email: {{email}}</div>
            <div *ngIf="!birthdayEmpty" style="margin: 10px;">Birthday: {{birthday}}</div>
            <div *ngIf="birthdayEmpty" style="margin: 10px;">Birthday: (you were never born)</div>
        </mat-card-content>
        <mat-card-actions style="display: flex;justify-content:flex-end;">
            <div class="log-reg-button">
                <button mat-raised-button (click)="openEditDialog()" color="primary">
                    <mat-icon style="color: white;">
                        manage_accounts
                    </mat-icon>
                    Manage Profile
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
    <h2 style="text-align: center;margin: 20px;">Favorite Movies</h2>
    <div class="favorite-movies-grid" style="width: -webkit-fill-available;">
        <mat-card
            style="box-shadow: 3px 3px 5px 0px rgba(27, 27, 27, 0.3); width: 115px; height: fit-content; display: flex; justify-content: center;align-content: center; margin-bottom: 10px;"
            *ngFor="let movie of favoriteMovies; let i=index;">
            <mat-card-content>
                <mat-card-subtitle style="margin: 0px;text-align: center;min-height: 40px;">
                    {{movie.title}}
                </mat-card-subtitle>
                <img width="100" height="150" style="margin-left:7px;cursor:pointer;" src={{movie.imagePath}}
                    (click)="goToMovieView($event, movie)" />
                <mat-card-actions style="display: flex;justify-content: center;">
                    <button mat-raised-button color="error" class="see-more-button"
                        (click)="removeFavoriteMovie($event, movie._id)">
                        <mat-icon style="color: red;">
                            delete
                        </mat-icon>
                        Delete
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="anyFavMovies" style="text-align: center;">No Favorite Movies</div>
</div>